.button {
  font-family: 'PixelifySans', sans-serif;
  font-size: 2rem;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  padding: 1.8rem 8rem;
  width: 100%;

  &__container {
    width: 15rem;
    height: 6rem;
  }

  &__pixel {
    width: 0.5rem;
    height: 0.5rem;
  }
}

.pixelart-to-css {
}
