@use '../../../styles/abstracts/mixins';

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-form {
    align-items: center;
    padding: 3rem;

    // min-width: 40rem;
    min-height: 50rem;

    @include mixins.respond(big-desktop) {
      // min-width: 50rem;
      min-height: 60rem;
    }
    @include mixins.respond(tab-land) {
      // min-width: 38rem;
      min-height: 45rem;
    }
    @include mixins.respond(phone-lg) {
      // min-width: 35rem;
      min-height: 45rem;
    }
    @include mixins.respond(phone-sm) {
      // min-width: 26rem;
      min-height: 45rem;
    }
  }
}
