.name {
  font-family: 'AncientModernTales', serif;
  font-size: 15rem;
  color: var(--primary);
  -webkit-text-stroke: 1px var(--black);
  text-shadow:
    3px 3px 0 var(--black),
    -1px -1px 0 var(--black),
    1px -1px 0 var(--black),
    -1px 1px 0 var(--black),
    1px 1px 0 var(--black);
}

.text-curve {
  position: relative;
}

.text-curve [style*='--index'] {
  position: absolute;
}

.text-curve {
  --a: calc(1 / (var(--length))); /* Старший коэфициент */
  --b: 0; /* Коэфициент при x */
  --c: -7; /* Свободный член */
  --step: calc(var(--length) / (var(--length) - 1)); /* Шаг между символами */
}

.text-curve [style*='--index'] {
  --x: calc((var(--index) - (var(--length) - 1) / 2) * var(--step));
  --y: calc(var(--a) * var(--x) * var(--x) + var(--x) * var(--b) + var(--c));
  left: calc(var(--x) * 1ch);
  top: calc(var(--y) * 1ch);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
