@use 'sass:meta';

@function x-offset-right($x-coord, $size) {
  @return calc($x-coord + 100% + $size);
}

@function x-offset-left($x-coord, $size) {
  @return calc($x-coord - 100% - $size);
}

@mixin set-image-size($sizes) {
  @for $i from 1 through length($sizes) {
    --cloud-#{$i}-size: #{nth($sizes, $i)};
  }
}

@media screen {
  .background {
    --first-cloud-X: 5%;
    --first-cloud-Y: 10%;
    --cloud-1-size: 33rem;
    --second-cloud-X: 60%;
    --second-cloud-Y: 15%;
    --cloud-2-size: 35rem;
    --third-cloud-X: 30%;
    --third-cloud-Y: 40%;
    --cloud-3-size: 40rem;
    --fourth-cloud-X: 80%;
    --fourth-cloud-Y: 50%;
    --cloud-4-size: 50rem;
    --fifth-cloud-X: 20%;
    --fifth-cloud-Y: 70%;
    --cloud-5-size: 35rem;
    --sixth-cloud-X: 70%;
    --sixth-cloud-Y: 90%;
    --cloud-6-size: 46rem;
    --seventh-cloud-X: 99%;
    --seventh-cloud-Y: 116%;
    --cloud-7-size: 45rem;
    --eighth-cloud-X: 90%;
    --eighth-cloud-Y: 2%;
    --cloud-8-size: 50rem;
    --nineth-cloud-X: 5%;
    --nineth-cloud-Y: 90%;
    --cloud-9-size: 28rem;

    height: 100%;
    background-color: var(--blue-sky);
    background-image: url(../../assets/clouds/Cloud-1.svg),
      url(../../assets/clouds/Cloud-1.svg),
      url(../../assets/clouds/Cloud-2.svg),
      url(../../assets/clouds/Cloud-2.svg),
      url(../../assets/clouds/Cloud-3.svg),
      url(../../assets/clouds/Cloud-3.svg),
      url(../../assets/clouds/Cloud-4.svg),
      url(../../assets/clouds/Cloud-4.svg),
      url(../../assets/clouds/Cloud-5.svg),
      url(../../assets/clouds/Cloud-5.svg),
      url(../../assets/clouds/Cloud-6.svg),
      url(../../assets/clouds/Cloud-6.svg),
      url(../../assets/clouds/Cloud-1.svg),
      url(../../assets/clouds/Cloud-1.svg),
      url(../../assets/clouds/Cloud-5.svg),
      url(../../assets/clouds/Cloud-5.svg),
      url(../../assets/clouds/Cloud-4.svg), url(../../assets/clouds/Cloud-4.svg);
    background-position:
      var(--first-cloud-X) var(--first-cloud-Y),
      x-offset-right(var(--first-cloud-X), var(--cloud-1-size))
        var(--first-cloud-Y),
      var(--second-cloud-X) var(--second-cloud-Y),
      x-offset-right(var(--second-cloud-X), var(--cloud-2-size))
        var(--second-cloud-Y),
      var(--third-cloud-X) var(--third-cloud-Y),
      x-offset-right(var(--third-cloud-X), var(--cloud-3-size))
        var(--third-cloud-Y),
      var(--fourth-cloud-X) var(--fourth-cloud-Y),
      x-offset-right(var(--fourth-cloud-X), var(--cloud-4-size))
        var(--fourth-cloud-Y),
      var(--fifth-cloud-X) var(--fifth-cloud-Y),
      x-offset-right(var(--fifth-cloud-X), var(--cloud-5-size))
        var(--fifth-cloud-Y),
      var(--sixth-cloud-X) var(--sixth-cloud-Y),
      x-offset-right(var(--sixth-cloud-X), var(--cloud-6-size))
        var(--sixth-cloud-Y),
      var(--seventh-cloud-X) var(--seventh-cloud-Y),
      x-offset-right(var(--seventh-cloud-X), var(--cloud-7-size))
        var(--seventh-cloud-Y),
      var(--eighth-cloud-X) var(--eighth-cloud-Y),
      x-offset-right(var(--eighth-cloud-X), var(--cloud-8-size))
        var(--eighth-cloud-Y),
      var(--nineth-cloud-X) var(--nineth-cloud-Y),
      x-offset-right(var(--nineth-cloud-X), var(--cloud-9-size))
        var(--nineth-cloud-Y);
    background-size: var(--cloud-1-size), var(--cloud-1-size),
      var(--cloud-2-size), var(--cloud-2-size), var(--cloud-3-size),
      var(--cloud-3-size), var(--cloud-4-size), var(--cloud-4-size),
      var(--cloud-5-size), var(--cloud-5-size), var(--cloud-6-size),
      var(--cloud-6-size), var(--cloud-7-size), var(--cloud-7-size),
      var(--cloud-8-size), var(--cloud-8-size), var(--cloud-9-size),
      var(--cloud-9-size);
    background-repeat: no-repeat;

    animation-name: infinite-scrolling;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @media (800px < height <= 1000px) or (1145px < width <= 1440px) {
      @include set-image-size(
        (25rem, 28rem, 33rem, 44rem, 25rem, 26rem, 40rem, 40rem, 25rem)
      );
    }

    @media (600px < height <= 800px) or (1024px < width <= 1145px) {
      @include set-image-size(
        (23rem, 25rem, 30rem, 39rem, 22rem, 23rem, 36rem, 39rem, 23rem)
      );
    }

    @media (500px < height <= 600px) or (768px < width <= 1024px) {
      @include set-image-size(
        (21rem, 25rem, 28rem, 36rem, 21rem, 21rem, 34rem, 36rem, 22rem)
      );
    }

    @media (height <= 500px) or (620px < width <= 768px) {
      @include set-image-size(
        (20rem, 24rem, 26rem, 33rem, 20rem, 19rem, 31rem, 36rem, 21rem)
      );
    }

    @media (500px < width <= 620px) {
      @include set-image-size(
        (16rem, 21rem, 24rem, 30rem, 18rem, 17rem, 31rem, 34rem, 19rem)
      );
    }

    @media (width <= 500px) {
      @include set-image-size(
        (13rem, 18rem, 21rem, 27rem, 18rem, 16rem, 31rem, 28rem, 17rem)
      );
    }
  }
}

@keyframes infinite-scrolling {
  to {
    background-position:
      x-offset-left(var(--first-cloud-X), var(--cloud-1-size))
        var(--first-cloud-Y),
      var(--first-cloud-X) var(--first-cloud-Y),
      x-offset-left(var(--second-cloud-X), var(--cloud-2-size))
        var(--second-cloud-Y),
      var(--second-cloud-X) var(--second-cloud-Y),
      x-offset-left(var(--third-cloud-X), var(--cloud-3-size))
        var(--third-cloud-Y),
      var(--third-cloud-X) var(--third-cloud-Y),
      x-offset-left(var(--fourth-cloud-X), var(--cloud-4-size))
        var(--fourth-cloud-Y),
      var(--fourth-cloud-X) var(--fourth-cloud-Y),
      x-offset-left(var(--fifth-cloud-X), var(--cloud-5-size))
        var(--fifth-cloud-Y),
      var(--fifth-cloud-X) var(--fifth-cloud-Y),
      x-offset-left(var(--sixth-cloud-X), var(--cloud-6-size))
        var(--sixth-cloud-Y),
      var(--sixth-cloud-X) var(--sixth-cloud-Y),
      x-offset-left(var(--seventh-cloud-X), var(--cloud-7-size))
        var(--seventh-cloud-Y),
      var(--seventh-cloud-X) var(--seventh-cloud-Y),
      x-offset-left(var(--eighth-cloud-X), var(--cloud-8-size))
        var(--eighth-cloud-Y),
      var(--eighth-cloud-X) var(--eighth-cloud-Y),
      x-offset-left(var(--nineth-cloud-X), var(--cloud-9-size))
        var(--nineth-cloud-Y),
      var(--nineth-cloud-X) var(--nineth-cloud-Y);
  }
}
